.maybeBroken {
    overflow: hidden;
}

.maybeBroken:before {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ede9fe; //bg-purple-100
    border-radius: 0.25rem;
}

.preset .removePreset {
    opacity: 0;
    transition: opacity .5s;
}

.preset:hover .removePreset {
    opacity: 1;
}
